/* CSS RESET (Adapted from http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, h1, h2, p, a, ul, li, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
	list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/* END CSS RESET */

.media-item {
    
}

.media-item > .marker {
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  padding-top: .4em;
}

.media-item > .marker.-red {
  background-color: #E54C3B;
}

.media-item > .marker.-yellow {
  background-color: #F29C1E;
}

.media-item > .marker.-green { 
  background-color: #26B894;
}

.media-item > .content {
  color: #999;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

@media all and (max-width: 767px) {
  .activity-feed {
        
  }

  .media-item {

  }
}