Add a link:
<input type="text" ng-model="linkText">
<button ng-click="vm.addLink(linkText)">+</button>

<table>
    <thead>
        <tr>
            <th>Link title</th>
            <th>Clicks</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="link in vm.links">
            <td><a href="#">{{link.text}}</a></td>
            <td>{{link.clicks}}</td>
            <td>Edit</td>
            <td><a href="#">Delete</a></td>
        </tr>
    </tbody>
</table>