.data-table {
  margin: 0 auto;

  > .head {
    > .header {
      height: 64px;
      font-size: 20px;
      text-align: left;

      > th {
        @include primary-text;
        font-weight: 500;
        padding-left: 24px;
        min-width: 54px;
      }
    }
    
    > .row {
        height: 48px;

        > th {
          > .cell-text {
            font-weight: 500;
            font-size: 12px;
            text-decoration: none;
            @include secondary-text;

            &:hover {
                @include primary-text;
            }
          }

          &.sorted {
            > .cell-text,
            .arrow-up,
            .arrow-down {
              @include primary-text;
            }
          }

          .arrow-up,
          .arrow-down {
            height: 14px;
            position: relative;
            top: 2px;
          }

          &:first-of-type {
            padding-left: 24px;
          }

          &:last-of-type {
            padding-right: 24px;
          }
        }
      
      > .title {
        text-align: left;
      }

      > .clicks {
        padding-right: 20px;
      }

      > .edit {
        text-align: center;
      }

      > .clicks,
      > .delete {
        text-align: right;
      }
    }
  }

  > .body {
    > .row {
        height: 48px;

      > td {
        border-bottom: 1px solid #e0e0e0;
        font-size: 13px;
        @include primary-text;
        min-width: 84px;
        flex: 0 1 auto;

        a > img {
          @include secondary-text;
          &:hover {
            @include primary-text;
          }
        }

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }
      }

      > .clicks,
      > .delete {
        text-align: right;
      }

      > .clicks {
        padding-right: 20px;
      }

      > .edit {
        text-align: center;
      }

      > .title {
        text-align: left;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}
