.input-form {
  margin: 0 auto 30px;
  width: 336px;

  > .link-input {
    border: 0;
    border-bottom: 1px solid #eee;
    width: 239px;
  }

  > .link-input,
  > .add-button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
  }

  > .add-button { 
    border: 0;
    background-color: $md-purple-500;
    color: $white;
    font-size: 13px;
  }
}