.input-form {
  margin: 0 auto 30px;
  padding: 20px;
  width: 80%;

  > .link-input,
  > .add-button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
  }

  > .add-button { 
    width: 40px;
  }
}