/* CSS RESET (Adapted from http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, h1, h2, p, a, ul, li, section, table {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: $roboto;
	vertical-align: baseline;
}

body {
  line-height: 1;
	text-align: center;
	background-color: #ddd;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@mixin clearfix() {
	clear: both;
}
/* END CSS RESET */