<div class="home-page">
    <div class="header">
        <h1 class="headline">👋 Welcome to Grapeviin! 🍇</h1>
    </div>

    <div class="card input-form">
        <input class="link-input" type="text" ng-model="newLinkText" placeholder="Add a link..." ng-keypress="($event.which === 13)?vm.addLink(newLinkText):0">
        <button class="add-button" ng-click="vm.addLink(newLinkText)">+</button>
    </div>

    <table class="card data-table">
        <thead class="head">
            <tr class="header">
                <th colspan="4">Referral Links</th>
            </tr>
            <tr class="row">
                <th class="title" ng-class="{ 'sorted': vm.sortOptions.sortType == 'text' }">
                    <span ng-show="vm.sortOptions.sortType == 'text'">
                        <img class="arrow-down" src="../../../assets/svg/ic_arrow_downward_black_18px.svg" ng-if="!vm.sortOptions.sortReverse">
                        <img class="arrow-up" src="../../../assets/svg/ic_arrow_upward_black_18px.svg" ng-if="vm.sortOptions.sortReverse">
                    </span>
                    <a class="cell-text" href="" ng-click="vm.setSortOptions({ sortType: 'text', sortReverse: !vm.sortOptions.sortReverse})">Link</a>
                </th>
                <th class="clicks" ng-class="{ 'sorted': vm.sortOptions.sortType == 'clicks' }">
                    <span ng-show="vm.sortOptions.sortType == 'clicks'">
                        <img class="arrow-down" src="../../../assets/svg/ic_arrow_downward_black_18px.svg" ng-if="vm.sortOptions.sortReverse">
                        <img class="arrow-up" src="../../../assets/svg/ic_arrow_upward_black_18px.svg" ng-if="!vm.sortOptions.sortReverse">
                    </span>
                    <a class="cell-text" href="" ng-click="vm.setSortOptions({ sortType: 'clicks', sortReverse: !vm.sortOptions.sortReverse})">Clicks</a>
                </th>
                <th class="edit"><span class="cell-text">Edit</span></th>
                <th class="delete">
                    <span class="cell-text">Delete</span>
                </th>
            </tr>
        </thead>
        <tbody class="body">
            <tr class="row" ng-repeat="link in vm.LinkService.links | orderBy:vm.sortOptions.sortType:vm.sortOptions.sortReverse track by $index">
                <td class="title">
                    <input type="text" ng-if="link.editing" ng-init="vm.editLinkText = link.text;" ng-model="vm.editLinkText"></input>
                    <button ng-if="link.editing" ng-click="vm.saveLink(link, vm.editLinkText)">Save</button>
                    <a ui-sref="landing({link: '{{vm.LinkService.links[$index].text}}'})" ng-hide="link.editing">{{link.text}}</a>
                </td>
                <td class="clicks">{{link.clicks}}</td>
                <td class="edit"><a href="" ng-click="vm.editLink(link)">Edit</a></td>
                <td class="delete">
                    <a href="" ng-click="vm.removeLink(link)">
                        <img src="../../../assets/svg/ic_delete_black_18px.svg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>