<div class="home-page">
    <div class="header">
        <h1 class="headline">Grapeviin</h1>
    </div>

    <div class="card input-form">
        <input class="link-input" type="text" ng-model="newLinkText" placeholder="Add a link..." ng-keypress="($event.which === 13)?vm.addLink(newLinkText):0">
        <button class="add-button" ng-click="vm.addLink(newLinkText)">ADD LINK +</button>
    </div>

    <table class="card data-table">
        <thead class="head">
            <tr class="header">
                <th colspan="4">Referral Links</th>
            </tr>
            <tr class="row">
                <th class="title" ng-class="{ 'sorted': vm.sortOptions.type == 'text' }">
                    <span ng-show="vm.sortOptions.type == 'text'">
                        <img class="arrow-down" src="../../../assets/svg/arrow-down.svg" ng-if="!vm.sortOptions.reverse">
                        <img class="arrow-up" src="../../../assets/svg/arrow-up.svg" ng-if="vm.sortOptions.reverse">
                    </span>
                    <a class="cell-text" href="" ng-click="vm.setSortOptions({ type: 'text', reverse: !vm.sortOptions.reverse})">Link</a>
                </th>
                <th class="clicks" ng-class="{ 'sorted': vm.sortOptions.type == 'clicks' }">
                    <span ng-show="vm.sortOptions.type == 'clicks'">
                        <img class="arrow-down" src="../../../assets/svg/arrow-down.svg" ng-if="vm.sortOptions.reverse">
                        <img class="arrow-up" src="../../../assets/svg/arrow-up.svg" ng-if="!vm.sortOptions.reverse">
                    </span>
                    <a class="cell-text" href="" ng-click="vm.setSortOptions({ type: 'clicks', reverse: !vm.sortOptions.reverse})">Clicks</a>
                </th>
                <th class="edit">
                    <span class="cell-text">Edit</span>
                </th>
                <th class="delete">
                    <span class="cell-text">Delete</span>
                </th>
            </tr>
        </thead>
        <tbody class="body">
            <tr class="row" ng-repeat="link in vm.LinkService.links | orderBy:vm.sortOptions.type:vm.sortOptions.reverse track by $index">
                <td class="title">
                    <input type="text" ng-if="link.editing" ng-init="vm.editLinkText = link.text;" ng-model="vm.editLinkText"></input>
                    <button ng-if="link.editing" ng-click="vm.saveLink(link, vm.editLinkText)">Save</button>
                    <a ng-href="#!/landing/{{link.text}}" ng-hide="link.editing">{{link.text}}</a>
                </td>
                
                <td class="clicks">
                    {{link.clicks}}
                </td>
                
                <td class="edit">
                    <a href="" ng-click="vm.editLink(link)">Edit</a>
                </td>
                
                <td class="delete">
                    <a href="" ng-click="vm.removeLink(link)">
                        <img src="../public/img/svg/delete.svg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>